body {
    color: white;
    background-image: url(/mtm6302-capstone-seay0006/images/N6946N6939pisabarro1024.jpg);
    list-style-type: none;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}
a:link {
  color: white;
  
}
h1 {
    text-align: center;
    
}
ul {
  list-style: none; /* Remove default bullets */
}
/* visited link */
a:visited {
  color: white;
  display: grid ;
}

/* mouse over link */
a:hover {
  color: rgb(199, 100, 149);
}

/* selected link */
a:active {
  color: white;
}

#favourites-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 20px;
    padding: 20px;
    text-decoration: none;
}
.favourite-item:hover {
    transform: translateY(-5px);
    border-color: rgb(199, 100, 149);
}
.favourite-item {
    max-width: 500px;
    background-color: rgba(100, 13, 78, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.2);;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s;
}
.favourite-item img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 5px;
  margin: 10px auto;
  display: block;
  border: 1px solid #ccc;
}
nav {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.favourite-item h3, .favourite-item p {
    color: white;
    margin: 10px 0;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
}

/* when you hover the remove button */
.favourite-item button:hover, 
.remove-btn:hover {
  background-color: #ca2020;
  color: black;
}

#favourites-list p {
  grid-column: 1 / -1;
  font-size: 1.2rem;
  color: white;
  padding: 40px;
}
/* media query for mobile */
@media screen and (max-width: 769px) {
  #favourites-list {
    grid-template-columns: 1fr;
    padding: 10px;
  }
}