/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
  text-align: center;

}
#apod-container {
  /* this is trying to cap the container width so that the images stop going off screen */
    width: 100%;
    margin: 0 auto;
  }
#apod title {
    font-size: 1.4rem;
    margin-top: 1rem;
    font-weight: bold;
  }
  /* THIS IS THE APOD IMAGE SPOT - DONT LOSE */
  #apod-image {
    display: block;
    /* this is aiming to stop it going off screen */
    max-width: 650px;
    width: 100%;
    height: auto;
    margin: 1rem auto;
    border: 1px solid #ccc;
    
  }
  #apod-image:hover {
    transform: scale(1.05);
  }
/* Requirement 3: The prototype should be responsive.  */
/* Reactive media query for desktop */
@media screen and (max-width: 1868px) {
  /* Styles for screens 768px wide or smaller */
  body {
    background-color: #751966;
    padding: 0.5rem;
  }
  #apod-title{
    font-size: large;
  }
}
/* Reactive media query for mobile */
@media screen and (max-width: 768px) {
  /* Styles for screens 768px wide or smaller */
  body {
    background-color: rgb(171, 128, 240);
    background-image: url("https://apod.nasa.gov/apod/ap250917.html");
    padding: 0.5rem;
  }
  #apod-title{
    font-size: 1rem;
  }
  #apod-image{
    max-width: 650px;
  }
}


/* Mobile Queries - All content above is pre updated sizing */

